name: Check types and Build

on:
  push:
    branches:
      - documentation
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - documentation

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Typecheck codeblocks and Build
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: build
        run: cd react-facet && CI=true yarn build
